@import 'settings/settings';
@import 'foundation';

@include foundation-everything(true);

blockquote {
  color: #0a0a0a;
  border-left: 1px solid #444;
}

.logo {
  margin: 2em;
}

/* content containers */

.content {
  background-color: #FFF;
  padding: 3em;
}

.content-semi {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 3em;
  color: #0a0a0a;
}

/* cards */

.card-divider {
  color: #FFF;
  text-align: center;
}

.card-divider img {
  max-width: 250px;
}

/*

SECTIONS
intro
events
call-for-speakers
code-of-conduct
sponsorship
contact
other-organisations
footer
 */

section {
  background-repeat: no-repeat;
  background-size: cover;
}

.sponsorship {
  background-color: $laracolour;
}

.intro {
  background-image: url('../img/medium/code.png');
}

.events {
  background-image: url('../img/medium/brussels.jpg');
}

.call-for-speakers {
  background-image: url('../img/medium/code.png');
}

.other-groups {
  background-image: url('../img/medium/belgium-from-space.jpg');
}

@media print, screen and (min-width: 40em) {

  .events {
    background-image: url('../img/brussels.jpg');
  }

  .call-for-speakers {
    background-image: url('../img/code.png');
  }

  .other-groups {
    background-image: url('../img/belgium-from-space.jpg');
  }

}

.organisations p {
  font-size: 130%;
  font-weight: bold;
}

footer {
  background-color: $laracolour;
  padding: 3rem;
}

footer a {
  color: #222;
}

footer p {
  margin: 1rem 0 0 0;
  color: #fff;
}
